<div *ngIf="comparables" style="display:flex;align-items: center;justify-content: center;height: 90%;">
    <div class="comparableContainer" *ngFor="let movilComparable of comparables">
      <h2>Movil: {{ movilComparable.marca }} {{movilComparable.modelo}}</h2>
      <h2>Nucleos: {{movilComparable.procesador.nucleos}} | Frecuencia: {{movilComparable.procesador.frecuencia}}</h2>
      <h2>Pantalla:{{ movilComparable.pantalla.pulgadas }}"</h2>
      <h2>Antutu: {{movilComparable.antutu}}</h2>
      <h2>Memoria RAM: {{movilComparable.ram.memoria}}</h2>
      <h2>Bateria: {{movilComparable.bateria.capacidad}}</h2>
      <h2>Precio: {{movilComparable.precio}}€</h2>
    </div>
    <div style="width: 50%;height: 70%; display: flex;flex-direction: column; text-align: center;">
      <label style="width: 100%;height:10%;font-size: 24px;">Gráfica de precios</label>
      <app-chart style="width: 100%;height: 90%;"></app-chart>
    </div>
  </div>
  <div class="dialogButtonContainer">
  <button class="closeButton" mat-dialog-close>Cerrar</button>
</div>